.cursor-pointer {
  cursor: pointer;
}

* {
  font-family: 'Jost', sans-serif;
}

.font-family {
  font-family: 'Six Caps', sans-serif !important;
}

.title-style {
  font-family: 'Six Caps', sans-serif !important;
  font-size: 190px;
  line-height: 95% !important;
}

.theme-color {
  color: #f0c633 !important;
}

.color-grey {
  color: rgb(152, 160, 154);
}

.brd-grey {
  border: 1px solid rgb(152, 160, 154);
}

.brdb-dot {
  border-bottom: 1px dotted rgb(152, 160, 154);
}

.brd-b-grey {
  border-bottom: 1px solid rgb(152, 160, 154);
}

.brd-t-grey {
  border-top: 1px solid rgb(152, 160, 154);
}

.brd-l-theme {
  border-left: 2px solid #f0c633;
}

.brd-l-grey {
  border-left: 1px solid rgb(152, 160, 154);
}

.brd-r-grey {
  border-right: 1px solid rgb(152, 160, 154);
}

.bg-color {
  background-color: #f0c633 !important;
}

/* margin */
.m-10 {
  margin-right: 10px !important;
}

.m-15 {
  margin-right: 15px !important;
}

.m-20 {
  margin-right: 20px !important;
}

.m-25 {
  margin-right: 25px !important;
}

/* margin-right */
.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

/* margin-left */
.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

/* margin-top */
.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

/* margin-bottom */
.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

/* padding */
.p-10 {
  padding-right: 10px !important;
}

.p-15 {
  padding-right: 15px !important;
}

.p-20 {
  padding-right: 20px !important;
}

.p-25 {
  padding-right: 25px !important;
}

/* padding-right */
.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

/* padding-left */
.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

/* padding-top */
.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

/* padding-bottom */
.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}